@model Wonderly_Blog.Models.CodeFirst.BlogPost

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <h4><b>Andy</b>
    <span class="glyphicon glyphicon-time"></span>
    <span class="postCreated">@Html.Raw(Model.Created.LocalDateTime)</span></h4>
    <table style="width: 100%;">
        <tr>
            <td>
                <h4><b>Andy</b></h4>
            </td>
            <td><h4>
                <span class="glyphicon glyphicon-time"></span>
                <span class="postCreated">@Html.Raw(Model.Created)</span>
            </h4></td>
        <tr>
            <td>
                <h4>Updated</h4>
            </td>
            <td>
                <span class="glyphicon glyphicon-time"></span>
                <span class="postCreated">@Html.Raw(Model.Updated)</span>
            </td>
        </tr>
    </table>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>


    </dl>
    @if( Model.Updated != null )
    {
        <h5>Post updated <span class="glyphicon glyphicon-time"></span> @Html.Raw(Model.Updated)</h5>
    }
</div>

<a name="comments"></a>

<div style="height:40px;"></div> <!-- Spacer so that the comments header is at the top
                                     of the page when the target link is clicked -->

 

<h3>Comments</h3>

@foreach (var comment in Model.Comments)
{
    <div style="padding: 5px;">
        <span id="postAuthor"><b>@Html.Raw(comment.Author.Email)</b></span>
        <span class="glyphicon glyphicon-time"></span>
                <span class="postCreated">@Html.Raw(comment.Created)</span>
        <div class="commentBody">
            @Html.Raw(comment.Body)
        </div>
        <div>
            <!-- Only display edit link if the user is the comment's author -->
            @if((User.Identity.Name == comment.Author.Email))
            {
                
                @Html.ActionLink("Edit", "EditComment", new { commentID = comment.Id });
                @Html.Raw(" ");
            }

            <!-- only display delete link if the user is an admin or the comment's author -->
            @if ((User.Identity.Name == comment.Author.Email) || ViewContext.HttpContext.User.IsInRole("Admin"))
            {
                @Html.ActionLink("Delete", "DeleteComment", new { commentID = comment.Id });
            }
        </div>
        <p style="color: lightgray;">________________________________________________</p>
    </div>
}

@using (Html.BeginForm("Comment", "BlogPosts", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>Comment</label>
        <input type="hidden" name="PostID" value="@Model.Id" />

        <input type="text" name="Body" class="form-control">
     </div>
     <button type="submit" class="btn btn-primary btn-lg" id="submit-button">Post comment</button>    

}



<p>
    @Html.ActionLink("Edit", "Edit", new { slug = Model.Slug }) |
    @Html.ActionLink("Back to List", "Index")
</p>
