@model Wonderly_Blog.Models.CodeFirst.BlogPost

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>"@Html.DisplayFor(model => model.Title)" by Andy</h2>
    <h6>
        <span class="postCreated">
            Posted
        </span>
        <span class="glyphicon glyphicon-time"></span>
        <span class="postCreated">@Model.Created</span>
        @if (Model.Updated != null)
        {
            <br />
            <span class="postCreated">
                @Html.Raw("Updated ")
            </span>
            <span class="glyphicon glyphicon-time"></span>
            <span class="postCreated">
                @Model.Updated
            </span>
        }
    </h6>
    @if(Model.MediaURL != null)
    {
        
        <img src="@Url.Content(Model.MediaURL)" style="max-width: 768px;" />
      
    }
    
</div>
<div style="font-size: 1.3em;">
        <br />
        @Html.Raw(Model.Body)
    
</div>
